.triangle {
    width: 200px;
    height: 200px;
    background: url(../assets/triangle.svg) no-repeat;
}

.circle {
  width: 200px;
  height: 200px;
  background: url(../assets/circle.svg) no-repeat;
  display: block;
}

.square {
  width: 200px;
  height: 200px;
  background: url(../assets/square.svg) no-repeat;
}

